* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
    align-items: center;
}

/* < /////////////// */
/* ? HEADER */
/* < /////////////// */

header,
footer {
    padding: 1rem 2.5rem;
    justify-content: space-between;
}

img[alt="boolean logo"]{
    height: 3rem;
}

#start-game {
    padding: 0 1rem;
}

form {
    margin-right: 1rem;
}

/* < /////////////// */
/* > MAIN */
/* < /////////////// */

main {
    background-color: aquamarine;
    padding: 3rem;
}

#campo-container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 42rem;
    min-height: 42rem;
}

.cella {
    aspect-ratio: 1 / 1;
    border: 2px solid white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cella > p{
    /* display: none; */
    font-size: 2rem;
}

.cella.active {
    background-color: yellow;
}

/* .cella.active > p {
    display: inline;
} */

.cella.easy{
    width: calc(100% / 7);
}

.cella.normal{
    width: calc(100% / 9);
}

.cella.hard{
    width: calc(100% / 10);
}